@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
:root {
  --width: 70vw;
}
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  font-family: 'Mouse Memoirs', sans-serif;
}